body{
  /*  background-image: url("img/background.png");*/ 
background-size: cover;
background-repeat: no-repeat;
background-color: #000000;
color: white;
height: 100%;
margin: 0;
box-shadow: none;
overflow: hidden;
}
#image {
height: 32px;
width: 32px;
background: 
url('sprites/aya.png') 0px 0px;
position: fixed;
left: 0;
top: 0;
image-rendering: crisp-edges;
transform: scale(2);
}   
.buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 23vh;
    float: right;
    position:fixed;
    bottom:0;
    right:0;
    background-color: #ffffff3c;
    border: 0.4vh solid #ffffff;
    border-radius: 2vh;
}
#walkingbox{
width: 0px;
overflow: hidden;
background-color: black;
border: none;
color: black;
margin-top: 100%;
margin-left: 100%;
}
#stuff{
    height: 100%;

}
button, select, option{
  margin-left: 15px;
  margin-top: 15px;
}
.allbuttons{
  width: 400px;
  text-align: center;
  border: rgb(99, 99, 99) solid 2px;
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(26, 26, 26);
}

#button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#selectCharacter, input{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}